.active-page {
  /* box-sizing: border-box; */
  border: 3px solid red;
  min-width: 22px;
  margin: 5px;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

.page {
  min-width: 22px;
  margin: 5px;
  padding: 2px;
  border: 1px solid blue;
  text-align: center;
  cursor: pointer;
}
